# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
src/python_scripts/settings.py
# testing
/coverage

# production
/build
/.idea
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/oldComponents/
/.idea/misc.xml
/src/python_scripts/encrypt_all_passes.py
/src/components/hw5-FullStack.iml
/src/python_scripts/confiramtion_email.py
/src/components/settings.js
/.idea/
